.accordion-header {
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  text-align: left;
  padding: 1em 1.5em;
  font-size: clamp(1.2rem, 1.8vw, 1.6rem);
  cursor: pointer;
  transition: background-color 0.2s linear;
  display: flex;
}

.accordion-header:hover {
  background-color: var(--primary-color-light);
}

.arrow__wrapper {
  margin: auto 0 auto auto;
  padding-left: 1rem;
  .arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    transition: transform 0.3s ease-out;
  }
}

.accordion-content {
  padding: 0 1em;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}
